/build
/out
/build-debug
/.vs
/CMakeSettings.json
/scripts/__pycache__
/train_src/madrona_escape_room_learn/__pycache__
__pycache__
*.pyc
.venv/
.venv-*/
ckpts/
checkpoints/
logs/
demos/*.mp4
demos/*.png
.pytest_cache/
.uv-cache/
.torch/
*.egg-info/
.DS_Store
*.pt
